# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# Node
node_modules/
npm-debug.log
build/
dist/

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Environment variables
.env
.env.local

# Compiled files
*.class
*.jar
*.war
